<%- include('partials/header'); -%>

<header class="masthead">
	<div class="container h-100">
		<div class="row h-100 justify-content-center align-items-center">
			<div class="col-sm-12 col-md-6">
				<div class="card">
					<h1 class="card-header stPat-gradient text-center py-4">Sign Up</h1>
					<div class="card-body px-lg-5 pt-0">
						<form action="/register" enctype="multipart/form-data" method="POST">
							<div class="cForm">
								<input
									class="form-control"
									type="text"
									name="username"
									id="username"
								/ required>
								<label class="form-control-placeholder" for="username">Username</label>
							</div>
							<div class="cForm">
								<input
									class="form-control"
									type="password"
									name="password"
									id="password"
								/ required>
								<label class="form-control-placeholder" for="password">Password</label>
							</div>
							<div class="cForm">
								<input
									class="form-control"
									type="text"
									name="firstName"
									id="firstName"
								/ required>
								<label class="form-control-placeholder" for="firstName">First Name</label>
							</div>
							<div class="cForm">
								<input
									class="form-control"
									type="email"
									name="email"
									id="email"
								/ required>
								<label class="form-control-placeholder" for="email">Email</label>
							</div>
							<div class="cForm">
								<input class="form-control" type="file" name="avatar" id="avatar" />
								<label class="form-control-placeholder" for="avatar">Profile Image</label>
							</div>
							<div class="cForm">
								<input
									class="form-control"
									type="password"
									name="adminCode"
									id="adminCode"
								/ required>
								<label class="form-control-placeholder" for="adminCode">Admin Code</label>
							</div>
							<div class="cForm">
								<button class="btn btn-outline-dark btn-lg btn-block">
									Sign Up
								</button>
							</div>
						</form>
						<a href="/">Go Back</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>

<%- include('partials/footer'); -%>