<%- include('../partials/inventoryHeader'); -%>

	<div class="container-fluid">
		<div class="row justify-content-center align-items-center">
			<div class="col-sm-12 col-md-8 my-5">
				<div class="card">
					<h1 class="card-header cucumber-gradient text-center py-4">Add New Item</h1>
					<div class="card-body px-lg-5 pt-0">
						<form action="/inventory" enctype="multipart/form-data" method="POST">
							<div class="cForm">
								<input
									class="form-control"
									type="text"
									name="name"
									id="name"
									required
								/>
								<label class="form-control-placeholder" for="name">Item Name</label>
							</div>
							<div class="cForm">
								<input
									class="form-control"
									type="number"
									name="quantity"
									id="quantity"
									step="1"
									min="0"
									max="10"
									pattern="\d*"
									required
								/>
								<label class="form-control-placeholder" for="quantity">Current Quantity</label>
							</div>
							<div class="cForm">
								<select class="form-control" name="category" id="category" required>
									<option value="">- Please choose an option -</option>
									<option value="Balloon">Balloon</option>
									<option value="Graphic">Graphic</option>
									<option value="Letter">Letter</option>
									<option value="Number">Number</option>
									<option value="Star">Star</option>
								</select>
							</div>
							<div class="cForm">
								<input
									class="form-control"
									type="text"
									name="tag"
									id="tag"
									required
								/>
								<label class="form-control-placeholder" for="tag">Tags (separated by commas)</label>
							</div>
							<div class="cForm">
								<input
									class="form-control"
									type="file"
									name="image"
									id="image"
								/>
								<label class="form-control-placeholder" for="image">Item Photo</label>
							</div>
							<div class="cForm">
								<textarea
									class="form-control mod-textarea"
									name="description"
									id="description"
									rows="5"
									placeholder="Item's Description"
								></textarea>
							</div>
							<div class="cForm">
								<button class="btn btn-lg btn-outline-dark btn-block">
									Submit!
								</button>
							</div>
						</form>
						<a href="/inventory">Go Back</a>
					</div>
				</div>
			</div>
		</div>
	</div>

<%- include('../partials/footer'); -%>