/* All */
body {
	font-family: Montserrat, Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 16px;
	position: relative;
	color: #191919;
	background-color: #edf2f7;
	transition: background-color .5s, margin-left .5s;
}

body,
html {
	width: 100%;
	height: 100%
}

h1 {
	font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase
}

h2 {
	font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 1rem;
	margin: 
	letter-spacing: .10em;
	text-transform: uppercase
}

h3 {
	font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #e1a87a;
	font-weight: 700;
	margin: 0 0 25px 0;
	letter-spacing: .12em;
	line-height: 1.6em;
	text-transform: uppercase
}

h4 {
	font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: 700;
	margin: 0;
	letter-spacing: .12em;
	line-height: 1.6em;
	text-transform: uppercase
}

/* a {
	transition: all .3s ease-in-out
} */

a:focus,
a:hover {
	text-decoration: none
}

p {
	margin: 5px 0
}

.active {
	-webkit-box-shadow:0 15px 10px -9px rgba(255,160,140,0.24),0 15px 10px -9px rgba(255,160,140,0.19) !important;
	box-shadow:0 15px 10px -9px rgba(255,160,140,0.24),0 15px 10px -9px rgba(255,160,140,0.19) !important
}

.btn.focus, .btn:focus {
	box-shadow: none;
}

.col-6.col-md-4.col-lg-2 {
	padding: 0 5px
}

.container-fluid {
	padding-top: 65px
}

.imgShadow {
	-webkit-box-shadow:0 12px 15px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19) !important;
	box-shadow:0 12px 15px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19) !important
}

.masthead {
	height: 100%;
  	min-height: 500px;
}

/* Gradients */

.blueDreams {
	background-image: radial-gradient( circle farthest-corner at 22.4% 21.7%,  rgba(4,189,228,1) 0%, rgba(2,83,185,1) 100.2% );
}

.cucumber-gradient {
	background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}

.mellowYellow-gradient {
	background: linear-gradient(90deg, #f8ff00 0%, #3ad59f 100%);
}

.lemonade-gradient {
	background: linear-gradient(40deg, rgba(255,255,235,1) 0%, rgba(254,255,150,1) 100%);
}

.shampoo-gradient {
    background: linear-gradient(40deg,#FFFFE0,#FDCFF3) !important;
}

.stopLight-gradient {
	background: #C6FFDD;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.stPat-gradient {
	background: linear-gradient(40deg, rgba(255,255,224,1) 0%, rgba(97,255,131,1) 100%) !important;
}

.forgot-gradient {
	background: -webkit-linear-gradient(310deg, rgba(255,255,224,1) 0%, rgba(255,97,97,1) 100%) !important;
	background: -moz-linear-gradient(310deg, rgba(255,255,224,1) 0%, rgba(255,97,97,1) 100%) !important;
	background: -o-linear-gradient(310deg, rgba(255,255,224,1) 0%, rgba(255,97,97,1) 100%) !important;
	background: linear-gradient(40deg, rgba(255,255,224,1) 0%, rgba(255,97,97,1) 100%) !important;
}

.btn.shampoo-gradient {
	color: #40434E
}

/* Flash Messaging */

.alert {
	position: fixed;
}

.navIndex {
	z-index: 1070;
}

/* Top Navigation */

#mainNav {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
    transition: all 1.2s;
	background-color: rgba(49, 82, 147, 0.5)
}

#mainNav .nav-link,
#mainNav .main-link {
    color: #191919;
}

#mainNav .nav-link:hover,
#mainNav .main-link:hover {
    color: #22577f;
}

#mainNav button {
    border: none;
}

hr.navHR {
  	border: 0;
  	height: 1px;
	transform: rotate(90deg);
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: linear-gradient(to right, #f0f0f0, #8c8b8b, #f0f0f0);
}

.navbar-brand {
	margin: 0
}

.navbar-brand img {
	width: 40px;
	height: 40px
}

.main-link {
	display: block;
	padding: .75rem 1rem;
	font-size: 30px
}

.navbar-toggler {
	padding: 0
}

/* Side Menu/Navigation */

.sidenav {
	height: 100vh;
  	width: 0;
  	position: fixed;
  	z-index: 1;
  	top: 0;
  	left: 0;
  	overflow-x: hidden;
  	transition: 0.5s;
  	padding-top: 60px;
	box-shadow: 		3px 0px 7px 0px rgba(50, 50, 50, 0.75);
	-webkit-box-shadow: 3px 0px 7px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    3px 0px 7px 0px rgba(50, 50, 50, 0.75);
}

.sidenav a {
	  text-decoration: none;
	  font-size: 25px;
	  color: #818181;
	  display: block;
	  transition: 0.3s;
}

.sidenav a:hover {
	  color: #f1f1f1;
}

.sidenav .closebtn {
	  position: absolute;
	  top: 0;
	  right: 25px;
	  font-size: 36px;
	  margin-left: 50px;
}

.profilePad {
	padding: .5rem 0;
}

.profileImg img {
	width: 200px;
	height: 200px;
	margin-top: -5.5rem;
	border: 5px solid rgba(255, 250, 240, 0.5);
	border-radius: 50%
}

.scrollUp {
    transform: translateY(-92px);
}

.jumbotron {
	background-color: #40434E;
	width: 100%;
	color: lightyellow;
	padding: 2rem 1rem
}

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.jumbotron {
		width: 75%;
		margin: 50px auto
	}
}

 /* Extra large devices (X-large desktops, 1700px and up) */
@media (min-width: 1700px) {
	.jumbotron {
		width: 50%;
		margin: 50px auto
	}
}

/* Cards */

.card {
	border: 0;
	-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.card-background {
	background-color: floralwhite
}

.card-background-alpha {
	background-color: rgba(255, 250, 240, 0.5)
}

.card-title {
	margin: 0
}

.card-header {
	padding: .75rem 1.25rem 0 1.25rem;
}

.card-subhead {
	padding-bottom: 5rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
}

.card-body {
    border-radius: 0 !important;
}

.card-text {
	font-style: italic;
	font-size: 8px;
	letter-spacing: .1em;
	line-height: 1.6em;
	text-transform: uppercase
}

/* Item Card */

.item-card {
	border: 1px solid rgba(0, 0, 0, 0.1);
}

.item-card.card-overlay.slender {
	margin-top: 1.25rem;
}

.item-card img {
	height: 150px;
	width: 100%
}

.item-body {
	padding: 1.25rem 0 1.5rem 0;
}

.quantity {
	font-size: 12px;
	letter-spacing: .1em;
	line-height: 1.6em;
	text-transform: uppercase
}

.edit-btn {
	color: #000;
	border: 1px solid #000;
	padding: 20px 20px;
	font-weight: 900;
	font-size: 10px;
	letter-spacing: .16em;
	text-transform: uppercase;
	transition: all .3s ease-in-out
}

.edit-btn:hover,
.edit-btn:focus {
	background-color: red;
	transition: all .3s ease-in-out
}

.itemImg img {
	width: 150px;
	margin-top: -4.75rem;
	border: 5px solid rgba(255, 250, 240, 0.5);
	border-radius: 50%
}

/* Forms */

.cForm {
	position: relative;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.cForm .form-control {
    height: auto;
    padding: .6rem 0 .4rem 0;
    margin: 0 0 .5rem 0;
    background-color: transparent;
    border-radius: 0;
}

.form-control-placeholder {
  position: absolute;
  top: 0;
  padding-top: 7px;
  transition: all 200ms;
  opacity: 0.5;
}

.form-control:focus + .form-control-placeholder,
.form-control:valid + .form-control-placeholder {
  font-size: 75%;
  transform: translate3d(0, -100%, 0);
  opacity: 1;
}

.cForm input:not([type]),.cForm input[type="text"]:not(.browser-default),.cForm input[type="number"]:not(.browser-default),.cForm input[type="password"]:not(.browser-default),.cForm input[type="file"]:not(.browser-default),.cForm input[type="email"]:not(.browser-default),.cForm input[type="url"]:not(.browser-default),.cForm textarea.mod-textarea, .cForm select {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #ced4da;
    border-radius: 0;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}

.cForm input:not([type]):focus:not([readonly]),.cForm input[type="text"]:not(.browser-default):focus:not([readonly]),.cForm input[type="number"]:not(.browser-default):focus:not([readonly]),.cForm input[type="file"]:not(.browser-default):focus:not([readonly]),.cForm input[type="password"]:not(.browser-default):focus:not([readonly]),.cForm input[type="email"]:not(.browser-default):focus:not([readonly]),.cForm input[type="url"]:not(.browser-default):focus:not([readonly]),.cForm textarea.mod-textarea:focus:not([readonly]),.cForm select:focus:not([readonly]) {
    border-bottom: 1px solid #22577f;
    -webkit-box-shadow: 0 1px 0 0 #22577f;
    box-shadow: 0 1px 0 0 #22577f
}

.cForm input:not([type]):focus:not([readonly])+label,.cForm input[type="text"]:not(.browser-default):focus:not([readonly])+label,.cForm input[type="number"]:not(.browser-default):focus:not([readonly])+label,.cForm input[type="file"]:not(.browser-default):focus:not([readonly])+label,.cForm input[type="password"]:not(.browser-default):focus:not([readonly])+label,.cForm input[type="email"]:not(.browser-default):focus:not([readonly])+label,.cForm input[type="url"]:not(.browser-default):focus:not([readonly])+label,.cForm textarea.mod-textarea:focus:not([readonly])+label,.cForm select:focus:not([readonly])+label {
    color: #22577f
}

/* Media Queries */

@media (max-width: 768px) {
    .navbar-collapse {
        position: absolute;
        top: 54px;
        left: 0;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        width: 100%;
    }
    .navbar-collapse.collapsing {
        height: auto;
        -webkit-transition: left 0.3s ease;
        -o-transition: left 0.3s ease;
        -moz-transition: left 0.3s ease;
        transition: left 0.3s ease;
        left: -100%;
    }
    .navbar-collapse.show {
        left: 0;
        -webkit-transition: left 0.3s ease-in;
        -o-transition: left 0.3s ease-in;
        -moz-transition: left 0.3s ease-in;
        transition: left 0.3s ease-in;
    }
}

/* Portrait */
@media only screen 
  and (min-device-width: 300px) 
  and (max-device-width: 375px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
	  h4 {
	  	font-size: 12px
	  }
	  
	  .main-link {
	  	padding: .75rem .8rem;
		font-size: 24px
	  }
	  
	  .navbar-brand img {
		width: 30px;
		height: 30px
	}
}